{% extends base_name|add:"/base.html" %}
{% load staticfiles %}
{% load tethys_gizmos %}

{% block import_gizmos %}
    {% import_gizmo_dependency plotly_view %}
{% endblock %}

{% block app_content %}
  <div id="map" class="map">
      <div id="map-view-legend" class="map-view-legend ol-unselectable ol-control">
          <div id="wmslegend0" hidden>
             <img src="http://128.187.106.130:80/glofas-proxy/glofas-ows-prod/?version=1.3.0&amp;service=WMS&amp;request=GetLegendGraphic&amp;sld_version=1.1.0&amp;layer=AccRainEGE&amp;format=image/png&amp;STYLE=default"/>
          </div>
          <div id="wmslegend1" hidden>
             <img src="http://128.187.106.130:80/glofas-proxy/glofas-ows-prod/?version=1.3.0&amp;service=WMS&amp;request=GetLegendGraphic&amp;sld_version=1.1.0&amp;layer=EGE_probRgt50&amp;format=image/png&amp;STYLE=default"/>
          </div>
          <div id="wmslegend2" hidden>
             <img src="http://128.187.106.130:80/glofas-proxy/glofas-ows-prod/?version=1.3.0&amp;service=WMS&amp;request=GetLegendGraphic&amp;sld_version=1.1.0&amp;layer=EGE_probRgt150&amp;format=image/png&amp;STYLE=default"/>
          </div>
          <div id="wmslegend3" hidden>
             <img src="http://128.187.106.130:80/glofas-proxy/glofas-ows-prod/?version=1.3.0&amp;service=WMS&amp;request=GetLegendGraphic&amp;sld_version=1.1.0&amp;layer=EGE_probRgt300&amp;format=image/png&amp;STYLE=default"/>
          </div>
          <div>
              <svg width="20" height="20" viewPort="0 0 20 20" version="1.1"
                   xmlns="http://www.w3.org/2000/svg">
                  <polyline points="19 1, 1 6, 19 14, 1 19" stroke="#0000FF" fill="transparent" stroke-width="2"/>
              </svg>
              Streams <input id="stp-stream-toggle" class="toggle-layer" type="checkbox" checked data-toggle="toggle" data-size="mini">
          </div>
          <div>
              <svg width="20" height="20" viewPort="0 0 20 20" version="1.1"
                   xmlns="http://www.w3.org/2000/svg">
                  <polyline points="0 10, 0 0, 10 0, 10 10, 0 10" stroke="rgba(255,0,0,1)" fill="rgba(255,0,0,1)" stroke-width="2"/>
              </svg>
              Stations <input id="stp-stations-toggle" class="toggle-layer" type="checkbox" checked data-toggle="toggle" data-size="mini">
          </div>
          <div>
              <svg width="20" height="20" viewPort="0 0 20 20" version="1.1"
                   xmlns="http://www.w3.org/2000/svg">
                  <polygon points="0 20, 10 0, 20 20" stroke="rgba(128,0,246,1)" fill="rgba(128,0,246,0.4)" stroke-width="2"/>
              </svg>
              100-Year Warnings <input id="stp-100-toggle" class="toggle-layer" type="checkbox" data-toggle="toggle" data-size="mini">
          </div>
          <div>
              <svg width="20" height="20" viewPort="0 0 20 20" version="1.1"
                   xmlns="http://www.w3.org/2000/svg">
                   <polygon points="0 20, 10 0, 20 20" stroke="rgba(128,0,106,1)" fill="rgba(128,0,106,0.4)" stroke-width="2"/>
              </svg>
              50-Year Warnings <input id="stp-50-toggle" class="toggle-layer" type="checkbox" data-toggle="toggle" data-size="mini">
          </div>
          <div>
              <svg width="20" height="20" viewPort="0 0 20 20" version="1.1"
                   xmlns="http://www.w3.org/2000/svg">
                  <polygon points="0 20, 10 0, 20 20" stroke="rgba(255,0,0,1)" fill="rgba(255,0,0,0.4)" stroke-width="2"/>
              </svg>
              25-Year Warnings <input id="stp-25-toggle" class="toggle-layer" type="checkbox" data-toggle="toggle" data-size="mini">
          </div>
          <div>
              <svg width="20" height="20" viewPort="0 0 20 20" version="1.1"
                   xmlns="http://www.w3.org/2000/svg">
                  <polygon points="0 20, 10 0, 20 20" stroke="rgba(255,56,5,1)" fill="rgba(255,56,5,0.4)" stroke-width="2"/>
              </svg>
              10-Year Warnings <input id="stp-10-toggle" class="toggle-layer" type="checkbox" data-toggle="toggle" data-size="mini">
          </div>
          <div>
              <svg width="20" height="20" viewPort="0 0 20 20" version="1.1"
                   xmlns="http://www.w3.org/2000/svg">
                  <polygon points="0 20, 10 0, 20 20" stroke="rgba(253,154,1,1)" fill="rgba(253,154,1,0.4)" stroke-width="2"/>
              </svg>
              5-Year Warnings <input id="stp-5-toggle" class="toggle-layer" type="checkbox" data-toggle="toggle" data-size="mini">
          </div>
          <div>
              <svg width="20" height="20" viewPort="0 0 20 20" version="1.1"
                   xmlns="http://www.w3.org/2000/svg">
                  <polygon points="0 20, 10 0, 20 20" stroke="rgba(254,240,1,1)" fill="rgba(254,240,1,0.4)" stroke-width="2"/>
              </svg>
              2-Year Warnings <input id="stp-2-toggle" class="toggle-layer" type="checkbox" data-toggle="toggle" data-size="mini">
          </div>
      <div>
        <br>
        {% gizmo select_input regions %}
      </div>
      <div>
        <br>
        {% gizmo select_input basins %}
      </div>
            <div>
        <br>
        {% gizmo select_input hidric %}
      </div>

    </div>
  </div>
<img id="featureLoader" style="..." src="{% static base_name|add:'/images/loader2.gif' %}">
{% endblock %}

{% block header_buttons %}
  {% if zoom_info %}
  <div class="hidden" style="margin-right: 15px;">
    {% gizmo text_input zoom_info %}
  </div>
  {% endif %}
  {% if geoserver_endpoint %}
  <div class="hidden" style="margin-right: 15px;">
    {% gizmo text_input geoserver_endpoint %}
  </div>
  {% endif %}
  {% if model_input %}
    <div id="modelSelect" style="margin-right: 15px;">
      {% gizmo select_input model_input %}
    </div>
  {% endif %}
  {% if watershed_select %}
    <div id="watershedSelect" style="margin-right: 15px;">
      {% gizmo select_input watershed_select %}
    </div>
  {% endif %}

  {% if defaultUpdateButton %}
  <div id="defaultModelContainer" style="margin-right: 15px;">
    {% gizmo defaultUpdateButton %}
  </div>
  {% endif %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="View Graph">
    <a data-toggle="modal" data-target="#graph"><span class="glyphicon glyphicon-globe"></span></a>
  </div>

  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="About">
    <a data-toggle="modal" data-target="#about"><span class="glyphicon glyphicon-info-sign"></span></a>
  </div>
{% endblock %}

{% block after_app_content %}
<!----Observed Data ----->
<div class="modal fade" id="obsgraph" tabindex="-1" role="dialog" aria-labelledby="about-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"  data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="row">
                    <div id="station-info" class="col-md-8"></div>
                    <div class="col-md-4">
                        <div align="right">
                            <img class="obslogos" src="{% static base_name|add:'/images/servir_logo.jpeg' %}">
                            <img class="obslogos" src="{% static base_name|add:'/images/my-icon-inamhi.png' %}">
                            <img class="obslogos" src="{% static base_name|add:'/images/EcoCiencia.png' %}">
                            <img class="obslogos" src="{% static base_name|add:'/images/byu_logo.png' %}">
                        </div>
                    </div>
                </div>
                <div id="obsdates">
                    <div id="startdatepicker">
                        <!--{% gizmo startdateobs %}-->
                    </div>
                    <div id="enddatepicker">
                        <!--{% gizmo enddateobs %}-->
                    </div>
                </div>
                <div id="interaction"></div>
            </div>
            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a id="observedWL_tab_link" href="#observedWL" aria-controls="observedWL" role="tab" data-toggle="tab">Observed Water Level</a></li>
                  <li role="presentation"><a href="#download_data" aria-controls="download_data" role="tab" data-toggle="tab">Download</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="observedWL"> <!-- /.tab-pane -->
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="flex-container-row"><img id="observed-loading-WL" class="view-file hidden" src="{% static base_name|add:'/images/loader.gif' %}" /></div>
                                <div id="observed-chart-WL"></div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="download_data">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h6>Download Observed Water Level Data</h6>
                                <div id="download_observed_waterlevel" class="btn-group hidden long-term-select" role="group">
                                    <a class="btn btn-success" role="button" id="submit-download-observed-waterlevel">
                                        <span class="glyphicon glyphicon-play"></span> Download Observed Water Level
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div id="info" class="hidden"></div>
        <div class="modal-footer">
            <button type="button" style="color:#fcbf10; background-color:#20295c;border-color:#20295c;" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

<!-- Chart Modal -->
<div class="modal fade" id="graph" tabindex="-1" role="dialog" aria-labelledby="about-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" style="color:#fcbf10; background-color:#20295c;border-color:#20295c;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="row">
          <div id="watershed-info" class="col-md-8"></div>
          <div class="col-md-4">
            <div align="right">
                <img class="obslogos" src="{% static base_name|add:'/images/servir_logo.jpeg' %}">
                <img class="obslogos" src="{% static base_name|add:'/images/my-icon-inamhi.png' %}">
                <img class="obslogos" src="{% static base_name|add:'/images/EcoCiencia.png' %}">
                <img class="logos" src="{% static base_name|add:'/images/byu_logo.png' %}">
            </div>
          </div>
        </div>
        <div id="interaction"></div>
      </div>
      <div class="modal-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a id="forecast_tab_link" href="#forecast_tab" aria-controls="forecast_tab" role="tab" data-toggle="tab">Forecast</a></li>
          <li role="presentation"><a id="historical_tab_link" href="#historical" aria-controls="historical" role="tab" data-toggle="tab">Historical Simulation</a></li>
          <li role="presentation"><a id="flow_duration_tab_link" href="#flow_duration" aria-controls="flow_duration" role="tab" data-toggle="tab">Historical Simulation Statistics</a></li>
          <li role="presentation"><a href="#download" aria-controls="download" role="tab" data-toggle="tab">Download</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="forecast_tab">
            <div class="panel panel-default">
              <div class="panel-body">
                <div id="dates" class="hidden form-group" style="padding: 30px 30px 20px 0">
                  <!-- <select id="datesSelect" class="form-control"></select> -->
                  {% gizmo date_picker %}
                </div>
                <div class="flex-container-row"><img id="view-file-loading" class="view-file hidden" src="{% static base_name|add:'/images/loader.gif' %}" /></div>
                <div id="long-term-chart"></div>
                <div class="forecast-table" id="forecast-table" style="display:none">
                    <div id="table">{# The table of forecast go here #}</div>
                </div>
              </div>
            </div>
          </div> <!-- /.tab-pane -->
          <div role="tabpanel" class="tab-pane" id="historical">
            <div class="panel panel-default">
              <div class="flex-container-row"><img id="his-view-file-loading" class="view-file hidden" src="{% static base_name|add:'/images/loader.gif' %}" /></div>
              <div id="historical-chart" class="panel-body"></div>
            </div>
          </div><!-- /.tab-pane -->
          <div role="tabpanel" class="tab-pane" id="flow_duration">
            <div class="panel panel-default">
              <div class="flex-container-row"><img id="fdc-view-file-loading" class="view-file hidden" src="{% static base_name|add:'/images/loader.gif' %}" /></div>
              <div id='fdc-chart' class="panel-body"></div>
              <div class="flex-container-row"><img id="seasonal_d-view-file-loading" class="view-file hidden" src="{% static base_name|add:'/images/loader.gif' %}" /></div>
              <div id='seasonal_d-chart' class="panel-body"></div>
              <div class="flex-container-row"><img id="seasonal_m-view-file-loading" class="view-file hidden" src="{% static base_name|add:'/images/loader.gif' %}" /></div>
              <div id='seasonal_m-chart' class="panel-body"></div>
            </div>
          </div><!-- /.tab-pane -->
          <div role="tabpanel" class="tab-pane" id="download">
            <div class="panel panel-default">
              <div class="panel-body">
                <h6>Download Forecast Data</h6>
                <div id="download_forecast" class="btn-group hidden long-term-select" role="group">
                  <a class="btn btn-success" style="color:#fcbf10; background-color:#20295c;border-color:#20295c;" role="button" id="submit-download-forecast">
                    <span class="glyphicon glyphicon-play"></span> Download Forecast
                  </a>
                </div>
                <h6>Download ERA 5 Data</h6>
                <div id="download_era_5" class="btn-group hidden" role="group">
                  <a class="btn btn-info" style="color:#fcbf10; background-color:#b5001a;border-color:#b5001a;" role="button" id="submit-download-5-csv">
                    <span class="glyphicon glyphicon-play"></span> Download ERA 5 Data
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="info" class="hidden"></div>
      <div class="modal-footer">
        <button type="button" style="color:#fcbf10; background-color:#20295c;border-color:#20295c;"  class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- About Modal -->
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" style="color:#fcbf10; background-color:#20295c;border-color:#20295c;" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="about-modal-label" style="color:#20295c;"> <strong> Acerca HydroViewer </strong> </h2>
      </div>
      <div class="modal-body">
        <p id="overview"><b>
          Hydroviewer-Ecuador es una aplicación que permite la visualización de pronósticos de caudal para cualquier río localizado en Ecuador.

        </b>
        </p>
          <p>Los usuarios pueden hacer clic en cualquier río del mapa para obtener datos de pronósticos de caudal.</p>
          <ol>
            <li> La primera pestaña muestra el gráfico del pronóstico que proviene de 51 simulaciones diferentes y una de alta resolución.</li>
            <li> La segunda pestaña muestra la simulación histórica de los últimos 40 años. </li>
            <li> La tercera pestaña muestra: curva de duración de caudales, estacionalidad diaria y estacionalidad mensual.</li>
            <li>La cuarta pestaña permite la descarga de resultados del pronóstico y la simulación histórica.</li>
          </ol>
        <h5>Recursos Adicionales:</h5>
        <p><a href="https://www.ecmwf.int/en/about/what-we-do/global-forecasts" target="_blank">ECMWF Global Forecasts</a></p>
      </div>
      <div class="modal-footer">
          <p style="color:#b5001a;"><strong>AVISO LEGAL:<strong/><p/>
          <p style="color:#b5001a;"> El usuario debe considerar que estas simulaciones y pronósticos son una referencia que utiliza la herramienta de predicción del GEOGloWS ECMWF para estimar el rango más probable de caudales
              por encima o debajo del promedio histórico simulado.</p>
           </p>
          <ol style="color:#b5001a;">
             <li> El usuario debe tener en cuenta la probabilidad de que una predicción no sea siempre  correcta.</li>
             <li> El usuario de esta herramienta acepta de antemano la forma y uso de la información.</li>
           </ol style="color:#b5001a;">


          <div class="modal-footer">
              <div class="FootNote">
          <p style ><sup>
              Fuente: la red de ríos ha sido obtenida con el modelado del GEOGloWS ECMWF;
              Unidad Hidrográfica 3: MAATE, 2020; Demarcaciones hidrográficas: MAATE, 2014;
              Estaciones hidrológicas: INAMHI, 2022, División Provincial: CONALI,2022</sup> </p>
        </div>


        <button type="button" class="btn btn-default" style="color:#fcbf10; background-color:#20295c;border-color:#20295c;"  data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block app_actions %}

{% endblock %}